Production/04-19-2025/force-app/main/default/flows/Authorized_Agent_Subject_Access_Request_Form_Internal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Access_and_Deletion_Email_Alert</name>
        <label>Access and Deletion Email Alert</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <actionName>Case.Internal_Reply_for_Access_Deletion_Request_for_Confirmation_Cookie</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_SAR_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Internal_Reply_for_Access_Deletion_Request_for_Confirmation_Cookie</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Access_Request_Email_Alert</name>
        <label>Access Request Email Alert</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <actionName>Case.Internal_Reply_for_Access_Request_for_Confirmation_Cookie</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_SAR_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Internal_Reply_for_Access_Request_for_Confirmation_Cookie</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Deletion_Email_Alert</name>
        <label>Deletion Email Alert</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <actionName>Case.Internal_Reply_for_Deletion_Request_for_Confirmation_Cookie</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_SAR_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Internal_Reply_for_Deletion_Request_for_Confirmation_Cookie</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>California_Only_Residents</name>
        <choiceText>California Only Residents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>California Only Residents</stringValue>
        </value>
    </choices>
    <choices>
        <name>CCPA_California_Colorado_Connecticut_Virginia_Utah_Nevada_Residents</name>
        <choiceText>CCPA (California, Colorado, Connecticut, Virginia, Utah, Nevada Residents)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CCPA (California, Colorado, Connecticut, Virginia, Utah, Nevada Residents)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Complaints</name>
        <choiceText>Complaints</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaints</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>GDPR_Non_US_Requests</name>
        <choiceText>GDPR (Non US Requests)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GDPR (Non US Requests)</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Questions</name>
        <choiceText>General Questions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Questions</stringValue>
        </value>
    </choices>
    <choices>
        <name>I_would_like_Eyeota_to_delete_all_records_of_my_data</name>
        <choiceText>I would like Eyeota to delete all records of my data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I would like Eyeota to delete all records of my data</stringValue>
        </value>
    </choices>
    <choices>
        <name>I_would_like_Eyeota_to_update_my_data</name>
        <choiceText>I would like Eyeota to update my data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I would like Eyeota to update my data</stringValue>
        </value>
    </choices>
    <choices>
        <name>I_would_like_to_see_a_copy_of_my_data</name>
        <choiceText>I would like to see a copy of my data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I would like to see a copy of my data</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Generic</name>
        <choiceText>Other / Generic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other / Generic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <constants>
        <name>DefaultEmailAddress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>privacy@eyeota.com</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Does_lead_exist</name>
        <label>Does lead exist?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Node to determine the confirmation email to be sent</description>
        <name>Which_confirmation_email_should_be_sent</name>
        <label>Which confirmation email should be sent?</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Access_and_Deletion_Request_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nature_of_Request</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>I_would_like_Eyeota_to_delete_all_records_of_my_data</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nature_of_Request</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>I_would_like_Eyeota_to_delete_all_records_of_my_data</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Access_and_Deletion_Email_Alert</targetReference>
            </connector>
            <label>Access and Deletion Request</label>
        </rules>
        <rules>
            <name>Access_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nature_of_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>I_would_like_to_see_a_copy_of_my_data</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Access_Request_Email_Alert</targetReference>
            </connector>
            <label>Access Request</label>
        </rules>
        <rules>
            <name>Deletion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nature_of_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>I_would_like_Eyeota_to_delete_all_records_of_my_data</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deletion_Email_Alert</targetReference>
            </connector>
            <label>Deletion</label>
        </rules>
    </decisions>
    <description>Flow for Authorized Agent Subject Access Request Form (Internal) which allows user to populate form as well as automatically create lead and case.</description>
    <environments>Default</environments>
    <formulas>
        <name>AccessRequestIsTrue</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!Nature_of_Request}, &quot;I would like to see a copy of my data&quot;)</expression>
    </formulas>
    <formulas>
        <name>CaseEmail</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
        NOT(ISBLANK({!Authorized_Agent_Company_Name})),
        {!Regulation} = &quot;California Only Residents&quot;
    ),
    {!AuthorizedAgentEmailAddress.value},
    {!DataSubjectEmailAddress.value}
)</expression>
    </formulas>
    <formulas>
        <name>DeletionIsTrue</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!Nature_of_Request} , &quot;I would like Eyeota to delete all records of my data&quot;)</expression>
    </formulas>
    <formulas>
        <name>LeadIDFormula</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!Create_Lead}),
  {!Find_Existing_Lead.Id},
  {!Create_Lead}
)</expression>
    </formulas>
    <interviewLabel>Authorized Agent Subject Access Request Form (Internal) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Authorized Agent Subject Access Request Form (Internal)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create lead if none exists</description>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_SAR_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Access_Request__c</field>
            <value>
                <elementReference>AccessRequestIsTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_Agent_Company_Name__c</field>
            <value>
                <elementReference>Authorized_Agent_Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>[not provided]</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deletion_Request__c</field>
            <value>
                <elementReference>DeletionIsTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>DataSubjectEmailAddress.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Data_Subject_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Data_Subject_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0059000000TL6D4AAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAR_Regulation_V2__c</field>
            <value>
                <elementReference>Regulation</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SAR_Case</name>
        <label>Create SAR Case</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Which_confirmation_email_should_be_sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Access_Request__c</field>
            <value>
                <elementReference>AccessRequestIsTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_Agent_Company_Name__c</field>
            <value>
                <elementReference>Authorized_Agent_Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_Agent_Email_Address__c</field>
            <value>
                <elementReference>DataSubjectEmailAddress.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_Agent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>Other_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deletion_Request__c</field>
            <value>
                <elementReference>DeletionIsTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Manual__c</field>
            <value>
                <elementReference>CaseEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadIDFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Request_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012900000016SeyAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAR_Regulation__c</field>
            <value>
                <elementReference>Regulation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Authorized Agent Subject Access Request Form (Internal)</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Search for lead if one already exists</description>
        <name>Find_Existing_Lead</name>
        <label>Find Existing Lead</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_lead_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataSubjectEmailAddress.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_SAR_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Existing_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Access_Request__c</field>
            <value>
                <elementReference>AccessRequestIsTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deletion_Request__c</field>
            <value>
                <elementReference>DeletionIsTrue</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Authorized_Agent_Subject_Access_Request_Form_Internal</name>
        <label>Authorized Agent Subject Access Request Form (Internal)</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Find_Existing_Lead</targetReference>
        </connector>
        <fields>
            <name>Data_Subject_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Data Subject First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Data_Subject_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Data Subject Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DataSubjectEmailAddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Subject Email Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Nature_of_Request</name>
            <choiceReferences>I_would_like_to_see_a_copy_of_my_data</choiceReferences>
            <choiceReferences>I_would_like_Eyeota_to_delete_all_records_of_my_data</choiceReferences>
            <choiceReferences>I_would_like_Eyeota_to_update_my_data</choiceReferences>
            <choiceReferences>General_Questions</choiceReferences>
            <choiceReferences>Complaints</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nature of Request</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Regulation</name>
            <choiceReferences>CCPA_California_Colorado_Connecticut_Virginia_Utah_Nevada_Residents</choiceReferences>
            <choiceReferences>GDPR_Non_US_Requests</choiceReferences>
            <choiceReferences>Other_Generic</choiceReferences>
            <choiceReferences>California_Only_Residents</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Regulation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Comments</name>
            <fieldText>Other Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Authorized_Agent_Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Authorized Agent Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AuthorizedAgentEmailAddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Authorized Agent Email Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Request_Origin</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Phone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(21, 95, 1);&quot;&gt;Form has been successfully submitted!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Authorized_Agent_Subject_Access_Request_Form_Internal</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
