Production/04-19-2025/force-app/main/default/flows/Case_Before_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Case_SAR_Request for Affidavit</description>
        <name>Last_Email_Sent_Case_SAR_Request_for_Affidavit</name>
        <label>Last Email Sent - Case_SAR_Request for Affidavit</label>
        <locationX>50</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Email_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request for Affidavit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Access_Request_Only_Case_SAR_Request_for_Cookie_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Case_SAR_Partner Request New Cookie ID</description>
        <name>Update_Email_Sent_Case_SAR_Partner_Request_New_Cookie_ID</name>
        <label>Update Email Sent - Case_SAR_Partner Request New Cookie ID</label>
        <locationX>50</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Email_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request for new cookie ID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deletion_Request_Only_Case_SAR_Partner_Request_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Case_SAR_Partner Request Received</description>
        <name>Update_Last_Email_Sent_Case_SAR_Partner_Request_Received</name>
        <label>Update Last Email Sent - Case_SAR_Partner Request Received</label>
        <locationX>149</locationX>
        <locationY>1229</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Email_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request Acknowledged</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Access_Request_Only_Case_SAR_Request_for_Affidavit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Case_SAR_Request for Cookie ID</description>
        <name>Update_Last_Email_Sent_Case_SAR_Request_for_Cookie_ID</name>
        <label>Update Last Email Sent - Case_SAR_Request for Cookie ID</label>
        <locationX>281</locationX>
        <locationY>2747</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Email_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request for Cookie ID</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Case_SAR_Partner Request New Cookie ID</description>
        <name>Access_and_Deletion_Request_Case_SAR_Partner_Request_New_Cookie_ID</name>
        <label>Access and Deletion Request - Case_SAR_Partner Request New Cookie ID</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Deletion_Request_Only_Case_SAR_Partner_Request_Received</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Access_and_Deletion_Request_Case_SAR_Partner_Request_New_Cookie_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deletion_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_for_New_Cookie_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Request_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Email_Sent_Case_SAR_Partner_Request_New_Cookie_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case_SAR_Request for Affidavit</description>
        <name>Access_and_Deletion_Request_Case_SAR_Request_for_Affidavit</name>
        <label>Access and Deletion Request - Case_SAR_Request for Affidavit</label>
        <locationX>710</locationX>
        <locationY>1637</locationY>
        <defaultConnector>
            <targetReference>Access_Request_Only_Case_SAR_Request_for_Cookie_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deletion_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_for_Affidavit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Last_Email_Sent_Case_SAR_Request_for_Affidavit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case_SAR_Request for Cookie ID</description>
        <name>Access_and_Deletion_Request_Case_SAR_Request_for_Cookie_ID</name>
        <label>Access and Deletion Request - Case_SAR_Request for Cookie ID</label>
        <locationX>567</locationX>
        <locationY>2279</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deletion_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_for_Cookie_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Email_Sent_Case_SAR_Request_for_Cookie_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case_SAR_Partner Request New Cookie ID</description>
        <name>Access_Request_Only_Case_SAR_Partner_Request_New_Cookie_ID</name>
        <label>Access Request Only - Case_SAR_Partner Request New Cookie ID</label>
        <locationX>281</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Deletion_Request_Only_Case_SAR_Partner_Request_New_Cookie_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Access_Request_Only_Case_SAR_Partner_Request_New_Cookie_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deletion_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_for_New_Cookie_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Request_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_Sent_Case_SAR_Partner_Request_New_Cookie_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case_SAR_Request for Affidavit</description>
        <name>Access_Request_Only_Case_SAR_Request_for_Affidavit</name>
        <label>Access Request Only - Case_SAR_Request for Affidavit</label>
        <locationX>281</locationX>
        <locationY>1421</locationY>
        <defaultConnector>
            <targetReference>Deletion_Request_Only_Case_SAR_Request_for_Affidavit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Access_Request_Only_Case_SAR_Request_for_Affidavit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deletion_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_for_Affidavit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Email_Sent_Case_SAR_Request_for_Affidavit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case_SAR_Request for Cookie ID</description>
        <name>Access_Request_Only_Case_SAR_Request_for_Cookie_ID</name>
        <label>Access Request Only - Case_SAR_Request for Cookie ID</label>
        <locationX>281</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Deletion_Request_Only_Case_SAR_Request_for_Cookie_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deletion_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_for_Cookie_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Email_Sent_Case_SAR_Request_for_Cookie_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case_SAR_Partner Request New Cookie ID</description>
        <name>Deletion_Request_Only_Case_SAR_Partner_Request_New_Cookie_ID</name>
        <label>Deletion Request Only - Case_SAR_Partner Request New Cookie ID</label>
        <locationX>512</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Access_and_Deletion_Request_Case_SAR_Partner_Request_New_Cookie_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Deletion_Request_Only_Case_SAR_Partner_Request_New_Cookie_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deletion_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_for_New_Cookie_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Request_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Email_Sent_Case_SAR_Partner_Request_New_Cookie_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case_SAR_Partner Request Received</description>
        <name>Deletion_Request_Only_Case_SAR_Partner_Request_Received</name>
        <label>Deletion Request Only - Case_SAR_Partner Request Received</label>
        <locationX>281</locationX>
        <locationY>1121</locationY>
        <defaultConnector>
            <targetReference>Access_Request_Only_Case_SAR_Request_for_Affidavit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Deletion_Request_Only_Case_SAR_Partner_Request_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Request_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Email_Sent_Case_SAR_Partner_Request_Received</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case_SAR_Request for Affidavit</description>
        <name>Deletion_Request_Only_Case_SAR_Request_for_Affidavit</name>
        <label>Deletion Request Only - Case_SAR_Request for Affidavit</label>
        <locationX>512</locationX>
        <locationY>1529</locationY>
        <defaultConnector>
            <targetReference>Access_and_Deletion_Request_Case_SAR_Request_for_Affidavit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deletion_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_for_Affidavit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Last_Email_Sent_Case_SAR_Request_for_Affidavit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case_SAR_Request for Cookie ID</description>
        <name>Deletion_Request_Only_Case_SAR_Request_for_Cookie_ID</name>
        <label>Deletion Request Only - Case_SAR_Request for Cookie ID</label>
        <locationX>435</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Access_and_Deletion_Request_Case_SAR_Request_for_Cookie_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deletion_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_for_Cookie_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Email_Sent_Case_SAR_Request_for_Cookie_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record</name>
        <label>Is New Record?</label>
        <locationX>281</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Access_Request_Only_Case_SAR_Partner_Request_New_Cookie_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormulaIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Access_Request_Only_Case_SAR_Partner_Request_New_Cookie_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case (Before Save) Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case (Before Save) Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Record</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
