Production/04-19-2025/force-app/main/default/flows/Create_SAR_Case_when_Request_is_Submitted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Type_of_Request</name>
        <label>Type of Request</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Access_and_Deletion_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Deletion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Access Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Deletion_and_Access_Request_Checkbox</targetReference>
            </connector>
            <label>Access and Deletion Request</label>
        </rules>
        <rules>
            <name>Access_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Access Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Access_Request_Checkbox</targetReference>
            </connector>
            <label>Access Request</label>
        </rules>
        <rules>
            <name>Deletion_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Deletion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Deletion_Request_Checkbox</targetReference>
            </connector>
            <label>Deletion Request</label>
        </rules>
    </decisions>
    <description>This flow creates a SAR case every time a SAR task is created on a lead. The SAR task is created when a lead is submitted through the SAR form on the website.</description>
    <environments>Default</environments>
    <interviewLabel>Create SAR Case when Request is Submitted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create SAR Case when Request is Submitted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a SAR case whenever a task is created on the lead</description>
        <name>Create_SAR_Case</name>
        <label>Create SAR Case</label>
        <locationX>506</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Type_of_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Manual__c</field>
            <value>
                <elementReference>Get_related_lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Get_related_lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0059000000UXcxFAAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012900000016Sey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Subject Access Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Identify the lead related to this task</description>
        <name>Get_related_lead</name>
        <label>Get related lead</label>
        <locationX>506</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SAR_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This node updates the &quot;Access Request&quot; checkbox on the case if the description contains the words &quot;Access Request&quot;.</description>
        <name>Update_Case_Access_Request_Checkbox</name>
        <label>Update Case Access Request Checkbox</label>
        <locationX>374</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SAR_Case</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Access_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>This node updates the &quot;Deletion Request&quot; and &quot;Access Request&quot; on the case if the task description contains both.</description>
        <name>Update_Case_Deletion_and_Access_Request_Checkbox</name>
        <label>Update Case Deletion and Access Request Checkbox</label>
        <locationX>110</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SAR_Case</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Access_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deletion_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>This node updates the &quot;Deletion Request&quot; on the case if the task description contains the words &quot;Deletion Request&quot;.</description>
        <name>Update_Case_Deletion_Request_Checkbox</name>
        <label>Update Case Deletion Request Checkbox</label>
        <locationX>638</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SAR_Case</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deletion_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted Form &apos;Inquiry Form_Subject Access Request Form_WithConsent&apos;</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Wait_2_minutes_to_run</name>
            <connector>
                <targetReference>Get_related_lead</targetReference>
            </connector>
            <label>Wait 2 minutes to run</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
